body {
  margin: 0;
}
nav {
  height: 3rem;
  background-color: orange;
}
#main {
  height: 100%;
  display: flex;
  justify-content: center;
}
#main > .left {
  background-color: pink;
  flex: 1;
  height: 550px;
}
#main > .right {
  background-color: pink;
  flex: 1;
  height: 300px;
}
#main > section {
  background-color: darkorchid;
  flex: 2;
  margin: 0 1em;
}
